<div class="container my-3">
  <div class="card m-3">
    <div class="card-body border-bottom">
      <div class="card-title border-bottom d-flex justify-content-between">
        <h2>{{blog.title}}</h2>
        <small class="text-muted">Posted By {{blog.user.username}} on {{format_date blog.date_created}}</small>
      </div>
      <p class="card-text lead">{{blog.blog_content}}</p>
    </div>
    {{#if comments.length}}
      <div class="container my-2 py-2 border-bottom">
        <ul class="list-group">
          {{#each comments as |comment|}}
            <li class="list-group-item border-0">
                <div class="text-left w-75 m-auto">
                  <h5>{{comment.user.username}} <small class="text-muted">{{format_date comment.date}}</small></h5>
                  <p>{{comment.comment_content}}</p>
                </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
      
    {{#if logged_in}}
      <div class="container py-3 text-center">
        <h4>New Comment</h4>
        <form class="d-flex justify-content-center align-items-center flex-column" id="comment">
          <div class="form-group">
            <textarea name="comment-text" id="comment-text" cols="30" rows="8" placeholder="Insert comment here..."></textarea>
          </div>
            <button class="btn btn-primary" id="submit-comment" data-blog="{{blog.id}}" data-user="{{user.id}}" type="submit">Submit</button>
        </form>
      </div>
    {{/if}}
  </div>
</div>

{{#if logged_in}}
  <script src="/js/comment.js"></script>
{{/if}}