<div class="container my-3">
  <a href="/api/blogs/create" class="btn btn-primary">New Blog</a>
</div>
<div class="container my-3">
{{#each blogs as |blog|}}
  <div class="card m-3 text-center">
    <div class="card-body">
      <div class="d-flex justify-content-between border-bottom">
        <h4 class="card-title">{{blog.title}}</h4>
        <a href="/api/blogs/delete/{{blog.id}}" id="deleteBlog" data-blog="{{blog.id}}" class="text-muted"><i class="fas fa-trash-alt"></i></a>
      </div>
      <p class="card-text">{{blog.blog_content}}</p>
      <a href="/api/blogs/delete/{{blog.id}}" class="btn btn-primary">View Blog</a>
      <a href="/dashboard/update/{{blog.id}}" class="btn btn-primary">Edit</a>
    </div>
    <div class="card-footer text-muted d-flex justify-content-around">
      <p>Created: {{format_date blog.date_created}}</p>
    </div>
  </div>
{{/each}}
</div>

<script src="/js/deleteBlog.js"></script>
