{{#if blogs.length}}
<div class="container">
{{#each blogs as |blog|}}
  <div class="card m-3 text-left">
    <div class="card-body">
      <div class="card-title border-bottom d-flex justify-content-between">
      <h5>{{blog.title}}</h5>
      <small class="text-muted">Posted By {{blog.user.username}} on {{format_date blog.date_created}}</small>
      </div>
      <p class="card-text">{{blog.blog_content}}</p>
      <a href="/api/blogs/{{blog.id}}" class="btn btn-primary">View Post</a>
    </div>
  </div>
{{/each}}
</div>
{{else}}
<div class="container text-center mt-3">
  <h3 class="">No blogs have been posted yet!</h3>
  <p>Go to Dashboard to create a new blog!</p>
</div>
{{/if}}